* {
	box-sizing: border-box;
}

/* main elements style */

@font-face {
  font-family: "Alata";
    src: url("https://fonts.google.com/specimen/Alata");
  font-weight: 400;
  font-family: "Josefin Sans";
    src: url("https://fonts.google.com/specimen/Josefin+Sans");
  font-weight: 300;
}

body {
	background-color: hsl(0, 0%, 95%);
}

.container {
  max-width: 375px;
  margin: auto;
	background-color: hsl(0, 0%, 100%);
}

h1, h3, p {
  text-align: center;
}

h1, h2, h3 {
  font-family: 'Alata', sans-serif;
  font-weight: 100;
  text-transform: uppercase;
  line-height: 1;
  letter-spacing: .075em;
}

p {
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 500;
	font-size: 0.85em;
  color: hsl(0, 0%, 41%);
  line-height: 1.9;
  letter-spacing: .08em;
	max-width: 290px;
	margin: 1em auto;
}

a {
	text-decoration: none;
	color: hsl(0, 0%, 100%);
}

.main {
  max-width: 375px;
	margin: 0;
	position: static;
	position: relative;
  display: inline-block;
}

.box img {
  max-width: 325px;
}

img {
	margin: 0 1.5em;
}

/* Pseudo Classes */

a:hover {
	color: #fcae1e;
}

button:hover {
	color: hsl(0, 0%, 65%);
	border: 2px solid hsl(0, 0%, 65%);
}

/* Main menu hidden */

.hide {
	position: relative;
	display: none;
	background-color: hsl(0, 0%, 0%);
	color: hsl(0, 0%, 100%);
	background-size: 375px;
	width: 375px;
	height: 650px;
	font-size: 1.5em;
	text-transform: uppercase;
	font-weight: lighter;
}

.hide ul {
	position: absolute;
	top: 10em;
	left: 1em;
}

.hide li {
	line-height: 0.5;
}
/* Pictures with text on top */

.earth, .arcade, .team, .grid, .above, .borealis, .curiosity, .fisheye {
  position: relative;
  display: inline-block;
  margin: 0 0 1.35em;
}

.text {
  position: absolute;
  z-index: 999;
  margin: 0 auto;
  left: 2.8em;
  bottom: 0.5em;
  color: white;
	font-size: 0.95em;
  width: 130px;
}

.earth {
	margin-top: 2em;
}

/* Text with border around */

.header-image {
	position: relative;
	background-image: url("../images/mobile/image-hero.jpg");
	background-size: 375px;
	width: 375px;
	height: 650px;
	margin-bottom: 6em;
}

.page-header {
	position: absolute;
	border: 2px solid hsl(0, 0%, 100%);
	color: hsl(0, 0%, 100%);
	width: 325px;
	height: 200px;
	margin: auto;
	top: 220px;
	left: 25px;
}

.border h1 {
	text-align: left;
	font-size: 2.4em;
	letter-spacing: .05em;
	line-height: 0.95;
	padding: 0 0.5em;

}

article {
	margin: 3em auto 5em;
}

/* Misc elements */

.btn {
	display: flex;
  justify-content: center;
}

button {
	border: 2px solid hsl(0, 0%, 55%);
	background-color: hsl(0, 0%, 100%);
	text-transform: uppercase;
	font-size: 14px;
	letter-spacing: .3em;
	width: 45%;
	margin: 0.75em auto;
	padding: 0.8em 0;
}

/* Footer style */

.foot {
	height: 475px;
	background-color: hsl(0, 0%, 0%);
	color: hsl(0, 0%, 100%);
	margin-top: 5em;
}

footer li {
	display: flex;
  flex-direction: column;
  align-items: center;
	font-weight: bold;
}

ul li {
	margin: 1.5em 0;
}

ul li:first-child {
	margin-top: -0.5em;
}

ul li:last-child {
	margin-bottom: 3em;
}

.foot p {
	font-weight: bold;
	font-size: 0.9em;
	letter-spacing: 0;
}

/* SVG Images */

.logo-top {
	display: inline-block;
	float: left;
	padding: 2.25em 0;
	transform: scale(0.75);
}

#hamburger {
	display: inline-block;
	float: right;
	padding: 2.75em 1.5em 0 0;
}

#close {
	display: inline-block;
	float: right;
	padding: 2.4em 1.5em 0 0;
}

.logo {
	display: flex;
	justify-content: center;
	padding: 3em 0;
	transform: scale(0.8);
}

.social {
	display: flex;
  justify-content: center;
}

.social svg {
	margin: 0 1em 0.5em 0;
}

.social svg:last-child {
	margin-right: 0;
}

.clearfix {
  overflow: auto;
}
